[Desktop Entry]
Name=Donate
Comment=Donate to Build a Pi
Exec=xdg-open https://www.paypal.com/paypalme/km4ack
Icon=DIRSEDHASH/ico/logo.png
Terminal=false
Type=Application
Categories=bap
Keywords=Support
Categories=bap
