[Desktop Entry]
Name=BPQ Config Generator
GenericName=BPQ Config Generator
Comment=Config File Generator for LinBPQ
Exec=/home/pi/linbpq/piBPQConfigGen
Terminal=false
Type=Application
Categories=Utility
