[Desktop Entry]
Name=D-RATS
Comment=D-RATS is a communications tool for D-STAR
Exec=/home/pi/D-Rats/d-rats.py
Path=/home/pi/D-Rats/
Terminal=false
Type=Application
Categories=Network;HamRadio
Keywords=APRS;HamRadio
