[Desktop Entry]
Name=M0IAX JS8 Utils
GenericName=M0IAX JS8 Utils
Comment=GPS & Message Tool for JS8Call
Exec=JS8CallUtils_v2
Terminal=false
Type=Application
Categories=Network;HamRadio;
