[Desktop Entry]
Name=UZ7HOSoundModem
GenericName=UZ7HO Sound Modem
Comment=UZ7HO qt Sound Modem
Exec=/bin/sh -c "$HOME/qtmodem/QtSoundModem"
Icon=wfview
Terminal=true
Type=Application
Categories=Network;HamRadio;
Name[en_US]=UZ7HOSoundModem.desktop
Comment[en_US]=UZ7HO qt Sound Modem
