[Desktop Entry]
Name=wsjt-z
GenericName=wsjtx-z
Comment=Popular Z Fork of wsjtx
Path=/home/pi/.bap-source-files/wsjt-z
Exec=/home/pi/.bap-source-files/wsjt-z/wsjtx
Terminal=false
Type=Application
Categories=Network;HamRadio;
