[Desktop Entry]
Name=wsjt-z
GenericName=wsjtx-z
Comment=Popular Z Fork of wsjtx
Path=/home/pi/wsjtz/
Exec=/home/pi/wsjtz/bin/wsjtx
Terminal=false
Type=Application
Categories=Network;HamRadio;
Icon=/home/pi/wsjtz/share/pixmaps/wsjtx_icon.png
