[Desktop Entry]
Name=Conky Config Editor
GenericName=Conky Config Editor
Comment=Conky Config Editor
Exec=setconky
Terminal=false
Type=Application
Categories=Utility